@if (visible) {
  @if (!type) {
    <div class="type">
      <div class="type__label">Выберите тип аннотации:</div>
      <div class="type__controls">
        <button
          (click)="type = 'text'"
          color="primary"
          mat-raised-button
        >
          <mat-icon>comment</mat-icon>
          Текст
        </button>

        <button
          (click)="type = 'icon'"
          color="primary"
          mat-raised-button
        >
          <mat-icon>image</mat-icon>
          Картинка
        </button>
      </div>
    </div>
  } @else {
    <form
      (submit)="saveForm()"
      [formGroup]="form"
      [style.left]="left + 'px'"
      [style.top]="top + 'px'"
      class="form"
    >
      @if (type === 'text') {
        <mat-form-field appearance="outline" class="form__field">
          <mat-label>Комментарий</mat-label>
          <textarea
            formControlName="comment"
            name="comment"
            placeholder="Введите комментарий"
            rows="4"
            matInput
          ></textarea>

          @if (form.get('comment')?.hasError('required') && form.get('comment')?.touched) {
            <mat-error>
              Поле обязательно для заполнения
            </mat-error>
          }
        </mat-form-field>
        <button
          mat-raised-button
          color="accent"
          [disabled]="invalidForm"
          type="submit"
          class="form__button"
        >
          <mat-icon>add</mat-icon>
          Добавить
        </button>
      } @else {
        <div class="form__file-upload">
          <input
            #fileInput
            (change)="onIconChange($event)"
            accept="image/png, image/jpeg"
            formControlName="icon"
            name="icon"
            type="file"
            style="display: none"
          />
          <div class="form__file-container" [class.form__file-container--with-preview]="image || isLoading">
            @if (isLoading) {
              <div class="form__image-preview form__image-preview--loading">
                <div class="form__skeleton"></div>
              </div>
            } @else if (image) {
              <div class="form__image-preview">
                <img [src]="image" alt="Предпросмотр" class="form__preview-img">
              </div>
            }
            
            <div class="form__buttons-container">
              <button
                mat-raised-button
                color="primary"
                (click)="fileInput.click()"
                type="button"
                class="form__button"
              >
                <mat-icon>upload_file</mat-icon>
                Выбрать файл
              </button>
              
              <button
                mat-raised-button
                color="accent"
                [disabled]="invalidForm"
                type="submit"
                class="form__button"
              >
                <mat-icon>add</mat-icon>
                Добавить
              </button>
            </div>
          </div>
        </div>
      }
    </form>
  }
}