@let pages = pages$ | async;
@if (pages) {
    <div
      (appVisiblePage)="changeActivePageId($event)"
      [appScrollIntoPage]="activePageId"
      class="documents"
    >
      @for (item of pages; track item.number) {
        <div
          [attr.page-id]="item.number"
          [appScaleHeight]="item.scale"
          class="document"
        >
          <img
            alt="{{ item.number }}"
            class="document__image"
            src="/mock/{{ item.imageUrl }}"
          />
          <div class="document__zoom-controls">
            <button (click)="zoomIn(item)"> + </button>
            <span>{{ item.scale * 100 | number:'1.0-0' }}%</span>            
            <button (click)="zoomOut(item)"> - </button>
          </div>
        </div>
      } @empty {
        <div class="documents--empty">
          Нет данных.
        </div>
      }
    </div>
} @else {
  <div class="loader">
    загрузка...
  </div>
}