<app-annotation-form
  (formValue)="createAnnotation($event)"
  [buildFormParams]="buildAnnotationFormParams"
></app-annotation-form>

<button mat-raised-button color="primary" (click)="save()" class="save-btn">
  Сохранить
</button>

@if (!store.loading()) {
  <div
    (appVisiblePage)="changeActivePageId($event)"
    [appScrollIntoPage]="activePageId"
    class="documents"
  >
    @for (item of store.pages(); track item.number) {
      <div
        [appScaleHeight]="item.scale"
        [attr.page-id]="item.number"
        class="document"
      >
        <img
          (click)="openAnnotationForm($event, item)"
          [alt]="item.number"
          class="document__image"
          src="/mock/{{ item.imageUrl }}"
        />

        @for (annotation of item.annotations; track $index) {
          <div
            [style.left]="annotation.position.x * item.scale + item.offsetLeft + 'px'"
            [style.top]="annotation.position.y * item.scale + 'px'"
            class="annotation"
            (mousedown)="onAnnotationMouseDown($event, annotation, item)"
          >
            @if (annotation.type === 'text') {
              <div class="annotation__text">
                {{ annotation.value }}
              </div>
            } @else {
              <img class="annotation__icon" [src]="annotation.value">
            }

            <button
              (click)="deleteAnnotation(item.number, annotation.id)"
              class="annotation__delete"
            ></button>
          </div>
        }

        <div class="document__zoom-controls">
          <button mat-icon-button color="primary" (click)="zoomIn(item)">
            <mat-icon>add</mat-icon>
          </button>
          <span>{{ item.scale * 100 | number:'1.0-0' }}%</span>
          <button mat-icon-button color="primary" (click)="zoomOut(item)">
            <mat-icon>remove</mat-icon>
          </button>
        </div>
      </div>
    } @empty {
      <div class="documents--empty">
        Нет данных.
      </div>
    }
  </div>
} @else {
  <div class="loader">
    загрузка...
  </div>
}