:host {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: inherit;
  justify-content: center;
  position: relative;
}

.documents {
  overflow: auto;
  width: 100%;
}

.document {
  display: flex;
  justify-content: center;
  position: relative;

  &__image {
    transform-origin: top;
  }

  &__zoom-controls {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 20px;
    left: 20px;
    gap: 10px;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    span {
      font-weight: 500;
    }

    button {
      cursor: pointer;
      padding: 10px;
    }
  }
}

.annotation {
  display: flex;
  position: absolute;

  &__text {
    background: orange;
    padding: 3px 6px;
    border-radius: 3px;
  }

  &__icon {
    max-height: 100px;
    max-width: 100px;
  }

  &__delete {
    background-color: #fff;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAItJREFUSEtjZKAxYKSx+QyDw4JXxsr/sflU7Oxdgg7EUIDLMGKDEt1S+lsAcinMF8QEASH1WMOQ7hagW0iIjxxfRPmAkIH4fDxqATgERoMIIwgIparBl0wJFXQURzLNLCBkMLo8tsIRa05+bqLiwPz//35SLPjLyOgoeebOAXQ9BGskUizBpnboWwAAr3TIGVz/eHYAAAAASUVORK5CYII=);
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    display: none;
    height: 24px;
    width: 24px;
    outline: none;
  }

  &:hover {
    .annotation__delete {
      display: block;
    }
  }

  &--dragging {
    z-index: 10;
    box-shadow: 0 4px 16px 0 rgba(0,0,0,0.25);
    opacity: 0.8;
    cursor: grabbing;
    transition: box-shadow 0.2s, opacity 0.2s;
  }
}

.save-btn {
  position: fixed;
  top: 20px;
  right: 40px;
  z-index: 1;
  background-color: #4CAF50 !important;
  color: white !important;
}