<app-annotation-form
  (formValue)="createAnnotation($event)"
  [buildFormParams]="buildAnnotationFormParams"
></app-annotation-form>

@if (!store.loading()) {
  <div
    (appVisiblePage)="changeActivePageId($event)"
    [appScrollIntoPage]="activePageId"
    class="documents"
  >
    @for (item of store.pages(); track item.number) {
      <div
        [appScaleHeight]="item.scale"
        [attr.page-id]="item.number"
        class="document"
      >
        <img
          (click)="openAnnotationForm($event, item)"
          [alt]="item.number"
          class="document__image"
          src="/mock/{{ item.imageUrl }}"
        />

        @for (annotation of item.annotations; track $index) {
          <div
            [style.left]="annotation.position.x * item.scale + item.offsetLeft + 'px'"
            [style.top]="annotation.position.y * item.scale + 'px'"
            class="annotation"
          >
            <div class="comment">
              {{ annotation.value }}
            </div>
          </div>
        }

        <div class="document__zoom-controls">
          <button (click)="zoomIn(item)"> + </button>
          <span>{{ item.scale * 100 | number:'1.0-0' }}%</span>
          <button (click)="zoomOut(item)"> - </button>
        </div>
      </div>
    } @empty {
      <div class="documents--empty">
        Нет данных.
      </div>
    }
  </div>
} @else {
  <div class="loader">
    загрузка...
  </div>
}